﻿@model PerformingArtsApplication.Models.StudentDto

@{
    ViewBag.Title = "Edit";
}

<script>
    //client side validation
    function validateStudentForm() {
        var validStudentData = true;

        var FirstName = document.getElementById("FirstName").value;
        var FirstNameError = document.getElementById("FirstNameError");

        if (FirstName === "") {
            FirstNameError.style.display = "block";
            validDancerData = false;
        } else {
            FirstNameError.style.display = "none";
        }

        var LastName = document.getElementById("LastName").value;
        var LastNameError = document.getElementById("LastNameError");

        if (LastName === "") {
            LastNameError.style.display = "block";
            validDancerData = false;
        } else {
            LastNameError.style.display = "none";
        }

        var Birthday = document.getElementById("Birthday").value;
        var BirthdayError = document.getElementById("BirthdayError");

        if (Birthday === "") {
            BirthdayError.style.display = "block";
            validStudentData = false;
        } else {
            BirthdayError.style.display = "none";
        }

        if (validStudentData === false) {
            return false;
        } else {
            return true;
        }
    }
</script>

<a class="backLink" href="/Student/Details/@Model.StudentId">< Back</a>

<h2>Edit Student</h2>

<form action="/Student/Update/@Model.StudentId" method="POST" onsubmit="return validatePerformanceForm()">
    <!-- hidden input to send PerformanceId as part of POST information -->
    <input type="text" style="display:none;" name="StudentId" value="@Model.StudentId" />
    <div class="formInput">
        <p id="FirstNameError" style="display:none; color:red;">*Please enter a first name</p>
        <label>First Name</label>
        <input type="text" name="FirstName" id="FirstName" value="@Model.FirstName" />
    </div>
    <div class="formInput">
        <p id="LastNameError" style="display:none; color:red;">*Please enter a last name</p>
        <label>Last Name</label>
        <input type="text" name="LastName" id="LastName" value="@Model.LastName" />
    </div>
    <div class="formInput">
        <p id="BirthdayError" style="display:none; color:red;">*Please enter a birthday</p>
        <label>Birthday</label>
        <input type="date" name="Birthday" id="Birthday" value="@Model.Birthday.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <input class="submitBtn" id="editStudentSubmit" type="submit" value="Update" />
    </div>
</form>