﻿@model PerformingArtsApplication.Models.PerformanceDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<a class="backLink" href="/Performance/Details/@Model.PerformanceId">< Back</a>

<h2>Are you sure you want to delete this performance?</h2>

<h2>@Model.PerformanceName</h2>

<form action="/Performance/Delete/@Model.PerformanceId" method="POST">
    <input class="confirmDeleteBtn" type="submit" value="Confirm Delete" />
</form>