﻿@model IEnumerable<PerformingArtsApplication.Models.PerformanceDto>

@{
    ViewBag.Title = "List";
}

<style>
    table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h2>Performances</h2>

<!--search bar-->
<form action="/Performance/List" method="GET">
    <input type="text" name="SearchKey" />
    <input class="searchBtn" type="submit" value="Search" />
</form>

<br />

<a href="/Performance/New">New Performance</a>

<br />

<table border="1">
    <thead>
        <tr>
            <th>Performance ID</th>
            <th>Performance Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PerformingArtsApplication.Models.PerformanceDto Performance in Model)
        {
            <tr>
                <td>@Performance.PerformanceId</td>
                <td><a href="/Performance/Details/@Performance.PerformanceId">@Performance.PerformanceName</a></td>
            </tr>
        }
    </tbody>

</table>