@model PerformingArtsApplication.Models.ShowcaseDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<div id="containershow">

    <h2>
        Are you sure you want to delete @Model.ShowcaseName?
    </h2>
    <p>
        This action cannot be undone.
    </p>
    <nav>
        <form method="POST" action="/Showcase/Delete/@Model.ShowcaseId" style="display: inline;">
            <button class="btn btn-outline-danger">Confirm Delete</button>
        </form>

        <form method="POST" action="/Showcase/Details/@Model.ShowcaseId" style="display: inline;">
            <button class="btn btn-outline-primary">Cancel</button>
        </form>
    </nav>
</div>
