@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Performing Arts</h1>
        <p class="lead">Performing Arts School provides music and dance lessons to students all of ages. Students will get a chance to performance in our showcases.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Lessons</h2>
            <a class="btn btn-outline-primary" href="/Lesson/List" role="button">View Lessons</a>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Performances</h2>
            <a class="btn btn-outline-primary" href="/Performance/List" role="button">View Performances</a>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="librariesTitle">Showcases</h2>
            <a class="btn btn-outline-primary" href="/Showcase/List" role="button">View Showcases</a>
        </section>
    </div>
</main>